@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Sumana&family=Single+Day&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

body > #root > div {
  height: 100vh;
}

p {
  font-size: 1.4rem;
}

::selection {
  background: #f7f4c4; 
}

.navbar, .footer {
  background-color: #DAC4F7;
}

.navbar-collapse {
  justify-content: center; 
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Montserrat', serif;
  font-size: 1.6rem;
  padding: 10px; 
}

.navbar-nav > li{
  padding-right:30px;
}

.footer {
  height: 100px;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.icon {
  color: #333;
  text-decoration: none;
}

a:hover, a:focus, .fa:hover,
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #000;
}

h1 {
  font-family: 'Single Day', cursive;
  font-size: calc(3.375rem + 1.5vw)!important;
  color: #000;
}

.container-bg {
  background-color: #daecfa;
}

.guess-button, .play-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  border: none;
  color: #000;
  outline: none;
  font-weight: 400;
  padding: 1rem;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 15px;
}

.button {
  font-family: 'Single Day', cursive;
  font-size: calc(2rem + 1.5vw)!important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.guess-button {
  background: #aed6f4;
}

.higher-button:hover {
  background: #e1f7c4;
}

.lower-button:hover {
  background: #f7dac4;
}

.play-button {
  background: #DAC4F7;
}
.play-button:hover {
  background: #e8dafa;
}

