@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Sumana&display=swap');

/* change scheme: ffd97d, dac4f7, 0094c6, E07A5F */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  background-color: #FDE8E9;
  color: #000; 
}

::-moz-selection {
  background: #DAC4F7; 
}
::selection {
  background: #DAC4F7; 
}

.navbar {
  background-color: #0094C6;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center; 
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #55433B;
  padding: 15px; 
}
  
a:hover, a:focus, .fa:hover,
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #fff;
  text-decoration: none; 
}

h1 {
  font-family: 'Sumana', serif;
  font-size: 4rem;
  color: #000;
}

.guess-button, .high-button, .low-button, .play-button {
  font-family: serif;
  font-size: 2rem;
  border: none;
  color: #000;
  outline: none;
  font-weight: 400;
  padding: 1rem;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 15px;
}

.higher-button {
  background: #80CFA9;
}
.higher-button:hover {
  background: #93d6b6;
}

.lower-button {
  background: #FFD97D;
}
.lower-button:hover {
  background: #ffe097;
}

.play-button {
  background: #DAC4F7;
}
.play-button:hover {
  background: #e8dafa;
}

